@page
@model BlogApp.Pages.Shared.Navbar.TagsModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Тэги";
}
<div class="block-reg background-white">
    <h4 class="center">Все тэги</h4>
    @foreach (var tag in Model.tags)
    {
        <form class="frm" >
            <div class="Block">
                <label>@tag.TagName</label>
                <label>@tag.Id</label>
                <input type="submit" value="Отправить" />
            </div>
        </form>
    }

</div>
@*method="get" asp-controller="Tag" asp-action="GetTagToUpdate" asp-route="@tag.Id"*@
<style type="text/css">
    .Block {
        width: 600px;
        padding: 5px;
        padding-right: 30px;
        margin: 5px;
        border: solid 1px black;
    }
</style>
